#dashboardLeftCol, #dashboardRightCol {
  /* Very hacky way to get both divs to take the height under the nav bar */
  /* if we ever have vertical layout issues, this is probably why */
  height: 88vh;
}
.navbar {
  /* make navbar and content touch */
  margin-bottom: 0px;
}

#dashboard-main-row {
  padding-top: 10px;
}

#dashboardLeftCol {
  /* show a vertical scroll bar on the left column */
  overflow: hidden;
  overflow-y: auto; 

}
@media (max-width: 768px) { 
  #dashboardLeftCol, #dashboardRightCol {
  /* hacky way to set the height back to content height on small screens */
  height: auto;

  /* hacky way to make sure content doesn't have horizontal scroll bar*/
  width: 99%;
  }
  #dashboardLeftCol {
    /* hacky way to hide the scoll bar on the left colum on small screens */
    height: auto;
    overflow: visible;
  }
}

#meetable-name {
  font-size: 3rem;
  font-weight: bold;
}

#events-calendar {
  margin-top: 10px;
}
