#dashboardLeftCol, #dashboardRightCol {
  /* Very hacky way to get both divs to take the height under the nav bar */
  /* if we ever have vertical layout issues, this is probably why */
  height: 88vh;
}
.navbar {
  /* make navbar and content touch */
  margin-bottom: 0px;
}

.invite-card {
  padding-bottom: 10px;  
  box-shadow: none;
  background-color: inherit;
  border-width: 5px;
  border-color: #f9f9f9;
}
/*
hr {
  border-color: #c6c6c6 !important;
  color: #c6c6c6 !important;
}*/

#dashboard-main-row {
  padding-top: 10px;
}

#dashboardLeftCol {
  /* show a vertical scroll bar on the left column */
  overflow: hidden;
  overflow-y: auto; 

}
@media (max-width: 768px) { 
  #dashboardLeftCol, #dashboardRightCol {
  /* hacky way to set the height back to content height on small screens */
  height: auto;

  /* hacky way to make sure content doesn't have horizontal scroll bar*/
  width: 99%;
  }
  #dashboardLeftCol {
    /* hacky way to hide the scoll bar on the left colum on small screens */
    height: auto;
    overflow: visible;
  }
}

#meetable-name {
  font-size: 3rem;
  font-weight: bold;

  display: inline-block;  /*so it will go on same line as rest of navbar*/
  margin: 10px 0px auto 15px;
}

#events-calendar {
  margin-top: 10px;
}
