html, body {
    height: 100%;
}
#__blaze-root, #content-container {
  height:100%;
}
.container-fluid {
  margin: 0 0;
  height: -webkit-calc(100vh - 50px);
  height: -moz-calc(100vh - 50px);
  height: calc(100vh - 50px);

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#main-login-row{
  background-image: url('img/notebook-table.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
  height: 61%;
}
span.landing-emphasis {
  font-style: italic;
}
h1.landing-main  {
  color: white;
  font-size: 8rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);

  margin: 20px 0 0px 0;
}
h2.landing-main  {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  margin: 0 0 0px 0;
}
#at-google {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  margin: 20px 0 0 0;
}
